
#container {
	display: flex;
	width: 100%;
	text-align: center;
}

#nav {
	display: flex;
	width: 200px%; /* メニューの幅を指定（適宜調整） */
	height: 300px; /* 画面の高さいっぱいにメニューを伸ばす */
	background-color: #fff; /* メニューの背景色 */
	padding-top: 20px; /* メニュー項目が上端から離れるスペース */
	border-right: 2px solid black;
}

#main {
	display: flex;
	width; 600px;
}

.login {
	display: flex;
	width; 400px;
	text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}



.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
    border-radius: 8px;
    height: 100%; /* 画面の高さいっぱいに設定 */
    display: flex;
    flex-direction: column;
}

header {
    position: fixed; /* ヘッダーを固定位置に配置 */
    top: 0; /* 上端に配置 */
    left: 0;
    right: 0;
    z-index: 1000; /* 他の要素よりも手前に表示 */
    background-color: #e0ebff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

header h1 {

    margin: 0;

    font-size: 1.5em;

    color: #333;

}

main {
    padding: 20px;
    padding-top: 80px; /* メインコンテンツがヘッダーの下に配置されるように上部余白を追加 */
    flex: 1; /* 残りの空間を全て使う */
    height: 100%;
    overflow-y: auto; /* メインコンテンツが画面よりも大きい場合にスクロール可能にする */
}

.login-box {
    width: 100%;
}

.login-box h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.input-box input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-box {
    margin-bottom: 20px;
    text-align: left;
}

.checkbox-box input {
    margin-right: 5px;
}

.button-box {
    text-align: center;
}

.button-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
}

.button-box button:hover {
    background-color: #0056b3;
}

footer {
    position: fixed; /* 画面下部に固定するための設定 */
    bottom: 0; /* 下端に配置 */
    left: 0;
    width: 100%; /* 画面幅いっぱいに広げる */
    background-color: #f0f0f0;
    padding: 10px 0;
    border-radius: 8px 8px 0 0; /* 任意の角丸設定 */
    color: #666;
    font-size: 0.8em;
}

footer p {
    margin: 0;
    line-height: 1.5;
}