

.subject-management-sub {
    background-color: #fff;

    width: 95%;
    max-width: 800px;
}

.subject-management-sub h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.subject-management-sub .add-new {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
    float: right;
}

.subject-management-sub table {
    width: 100%;
border-bottom: 2px solid #ccc;
}

.subject-management-sub table, .subject-management-sub th, .subject-management-sub td {
border-bottom: 2px solid #ccc;
}

.subject-management-sub th, .subject-management-sub td {
    padding: 8px;
    text-align: left;
}

.subject-management-sub th {
    background-color: #f2f2f2;
}


.subject-management-sub a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}



.form-container {
    background-color: white;
    padding: 30px; /* 50% increase from 20px */
    border-radius: 12px; /* 50% increase from 8px */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* 50% increase from 10px */
    width: 450px; /* 50% increase from 300px */
}

.form-title {
    font-size: 27px; /* 50% increase from 18px */
    margin-bottom: 30px; /* 50% increase from 20px */
    text-align: center;
}

.form-group {
    margin-bottom: 22.5px; /* 50% increase from 15px */
}

.form-group label {
    display: block;
    margin-bottom: 7.5px; /* 50% increase from 5px */
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px; /* 50% increase from 8px */
    box-sizing: border-box;
    border: 1.5px solid #ccc; /* 50% increase from 1px */
    border-radius: 6px; /* 50% increase from 4px */
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px; /* 50% increase from 10px 20px */
    border-radius: 6px; /* 50% increase from 4px */
    cursor: pointer;
    font-size: 18px; /* Increased to make button text larger */
}

.form-buttonsr {
    display: flex;
    justify-content: space-between;
}

.form-buttonsr button {
    background-color: #ff2222;
    color: white;
    border: none;
    padding: 15px 30px; /* 50% increase from 10px 20px */
    border-radius: 6px; /* 50% increase from 4px */
    cursor: pointer;
    font-size: 18px; /* Increased to make button text larger */
}

.form-buttons button[type="button"] {
    background-color: #6c757d;
}

.form-buttons button:hover {
    opacity: 0.9;
}