
/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


/* 追加: テーブルのスタイル */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th	{
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd; /* ヘッダーのアンダーバーを設定 */

}


td {
	white-space: nowrap;
	border-bottom: 1px solid #ddd; /* ヘッダーのアンダーバーを設定 */
}

/* 追加: 列間のスペースを確保するためのスタイル */
td input[type="hidden"],
td input[type="number"] {
	margin-left: 5px;
	margin-right: 5px;
	margin-top:20px;

}





